.overflowauto{
    overflow: auto;
}
.runnersContent{
    background: #F1F1F1;
    height: 100%;
    color: red;
    border-top-left-radius: 50px;
    border-top-right-radius: 50px;
    position: relative;
    // overflow: auto;
}
.inputshadow{
    position: sticky;
    top: 0rpx;
    display: flex;
    // width: 100%;
	align-items: center;
	min-height: 120rpx;
    justify-content: space-between;
    .search-form {
        background-color: #f5f5f5;
        line-height: 80rpx;
        height: 80rpx;
        font-size: 26rpx;
        color: var(--black);
        flex: 1;
        display: flex;
        align-items: center;
        margin: 0 30rpx;
        input {
            flex: 1;
            padding-right: 30rpx;
            height: 80rpx;
            line-height: 80rpx;
            font-size: 28rpx;
            background-color: transparent;
        }
        box-shadow: 0 0 15rpx rgba(0, 0, 0, 0.1);
    }
}
.orders{
    height: 100%;
    // overflow: auto;
    position: absolute;
    top: 120rpx
}
