.searchbar {
    position: sticky;
    position: -webkit-sticky;
    top: 0;
    z-index: 2;
    background: linear-gradient(to right, #3EA1A7 , #46B5AF);
  }
.searchborder {
    border-top-left-radius: 50px;
    border-top-right-radius: 50px;
  }
.scrollcontents {
    z-index: 1;
    background-color: #EDEDED;
    color: #000000;
    min-height: 60%;
    padding: 15px;
}
.addheight {
    height: 90%;
}
.goodsitem {
    background-color: #ffffff;
    border-radius: 10px;
    margin-bottom: 15px;
    padding: 15px;
    height: 200px;
    display: flex;
    justify-content: space-between;
}
.goodsimg{
    display: flex;
    flex-direction: column;
    justify-content: center;
    Image{
        box-shadow: 15px 10px 30px #474545;
        width: 170px;
        height: 150px;
        border-radius: 10px;
    }
}
.goodsdesc {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    font-size: 25px;
    color: #9E9E9E;
}
.storename {
    color: #000000;
    font-size: 30px;
    font-weight: bold;
    width:300px;
    white-space:nowrap;
    overflow:hidden;
    text-overflow:ellipsis;
}
.goodsmoney {
    width: 150px;
    padding: 15px 0;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    text-shadow: 10px 15px 15px #000000;
    Image{
        width: 55px;
        height: 55px;
    }
}
.deal{
    width: 20px;
    height: 20px;
}