.myinfo{
    background-image: url('http://mms1.baidu.com/it/u=2303020849,2693416814&fm=253&app=120&f=JPEG?w=500&h=1000');
    width: 100%;
    height: 100%;
}
.basicinfo{
    height: 35%;
    padding: 20px;
}
.userinfo{
    display: flex;
    flex-direction: column;
    justify-content: center;
    // background-color: red;
    width: 30%;
    height: 78%;
    text-align: center;
    width: 150px;
}
.nickname{
    margin-top: 20px;
    white-space:nowrap;
    overflow:hidden;
    text-overflow:ellipsis;
    font-weight: bold;
}
.userbar{
    display: flex;
    // background-color: green;
    height: 22%;
    padding: 15px 0;
}
.baritem{
    margin-right: 50px;
}
.contents{
    height: 65%;
    border-top-left-radius: 50px;
    border-top-right-radius: 50px;
    background-color: #fff;
}
.avatarimage{
    width: 150px;
    height: 150px;
    border-radius: 75px;
    border: 5px solid #fff;
}